#Env do N8N
# Timezone
TZ-America/Sao_Paulo
# Conexão com o banco de dados Postgres
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Outros
NODE_FUNCTION_ALLOW_EXTERNAL=puppeteer
OCI_CLI_AUTH=instance_principal
T=ocid1.tenancy.oc1