# Env do GLPI

# Aplicação
TIMEZONE=America/Sao_Paulo

# Banco de dados MySQL
GLPI_DB_HOST=host.docker.internal
GLPI_DB_PORT=3306
GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi_user
GLPI_DB_PASSWORD=glpi_password
